.page-header {
  text-align: center;
}

.posting-form-button-div {
  text-align: center;
}

.posting-form-button {
  margin: 5px;
  height: 50px;
  font-size: large;
  color: white;
  font-weight: bold
}

.posting-div {
  margin-top: 20px;
  margin-right: 20px;
  width: 500px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
}

.posting__list__div {
  padding: 20px;
  text-align: center;
}

.posting__header { 
  font-weight: bold;
  margin: 10px 0px;
}

.posting__price-info {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.posting__category {
  margin: 20px;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 2px;
}

.posting__action__buttons__div {
  margin: auto;
  width: 100%;
  margin-top: 10px;
  /* border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--grey); */
}