.page-header {
  text-align: center;
}

.card {
  /* margin: auto; */
}

.posting-form-button__div {
  text-align: center;
}

.posting-form-button {
  margin: 5px;
  height: 50px;
  font-size: large;
  color: white;
  font-weight: bold
}

.posting__div {
  margin-top: 20px;
  margin-right: 20px;
  width: 500px;
  /* height: 300px; */
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
}

.posting-list__div {
  padding: 20px;
  text-align: center; 
}

.posting__header { 
  font-weight: bold;
  margin: 10px 0px;
  height: 75px;
}

.posting__price-info {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.posting__category {
  margin: 20px;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 2px;
}

.posting__action-buttons-div {
  margin: auto;
  width: 100%;
  margin-top: 10px;
  /* border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--grey); */
}

.posting-form__categories-paragraph {
  margin-bottom: 20px;
  margin-top: 0px;
  font-style: italic;
}

.posting-form__select-dropdown-div {
  /* display: inline-block; */
}

.posting-form__select-dropdown-field {
  display: inline-block;
  width: 95%;
}

.posting-form__select-dropdown-button {
  width: 5%;
  font-size: 15px;
  color: white;
  font-weight: bold;
  padding: .5em;
  text-align: center;
  /* border-radius: 10%; */
}