.page-header {
  text-align: center;
}

.posting-div {
  border: 2px solid gray;
  margin: 5% 20%;
  padding: 10px 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.posting__header { 
  font-weight: bold;
  margin: 10px 0px;
}

.posting__price-info {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.posting__categories {
  text-align: center;
}

.posting__category {
  margin: 20px;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 2px;
}

.color-freelancer {
  background-color: var(--label-purple);
}

.color-buyer {
  background-color: var(--label-green);
}