:root {
  --purple-freelancer: rgb(84, 77, 184);
  --label-red: rgb(184, 77, 77);
  --grey: rgb(154, 154, 154);
  --grey-dark: rgb(120, 120, 120);
  --green-buyer: rgb(94, 198, 132);
  --label-body: rgb(240, 242, 245);
}

button.logout-button,
button.system-toggle-button {
  border-radius: 5px;
  position: fixed;
  top: 10px;
  font-weight: bold;
  background-color: white;
  /* color: rgb(84, 77, 184); */
  font-size: 25px;
}

/* .navbar-links {
  background-color: var(--label-red);
} */

.colors-freelancer,
.opposite-colors-buyer {
  background-color: var(--purple-freelancer)
}

.colors-buyer,
.opposite-colors-freelancer {
  background-color: var(--green-buyer);
}

button.logout-button {
  right: 1vw;
  position: fixed;
}

button.system-toggle-button {
  left: 1vw;
  position: fixed;
}

.navbar-colors-freelancer {
  color: var(--purple-freelancer);
  border-color: var(--purple-freelancer);
}

.navbar-colors-freelancer:hover {
  background-color: var(--purple-freelancer);
  color: white;
  border-color: var(--purple-freelancer);
}

.navbar-colors-buyer {
  color: var(--green-buyer);
  border-color: var(--green-buyer);
}

.navbar-colors-buyer:hover {
  background-color: var(--green-buyer);
  color: white;
  border-color: var(--green-buyer);
}

/* div.navbar-div {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index:2;
} */
