button.logout-button, button.system-toggle-button {
  border-radius: 5px;
  position: fixed;
  top: 10px;
  font-weight: bold;
  background-color: white;
  color: rgb(84, 77, 184);
  font-size: 25px;
}

button.logout-button {
  right: 5px;
}

button.system-toggle-button {
  left: 5px;
}

/* div.navbar-div {

} */
